#my-timeline{height:300px;border:1px solid #000;overflow-y:hidden;overflow:hidden;position:relative;}
#tl-body{height:180px;border:1px solid #000;}
#tl-timescale{height:35px;margin-top:60px;border-top:1px solid #000;}
.tl-timescale-container{width:5px;height:5px;background-color:#000;float:left;position:absolute;}
.tl-timescale-container span{left:0px;top:-20px;position:absolute;border:1px solid blue;font-size:11px;width:60px;}
.scale{height:4px;width:1px;border-left:1px solid #000;position:absolute;font-size:0px;}
.scale-decade{height:10px;font-size:12px;font-weight:bold;}
.scale-decade span{position:absolute;left:-12px;top:12px;}
#tl-slider{height:10px;border:1px solid #000}
.done{color:green}
#arrow-left,#arrow-right{height:180px;width:50px;border:1px red solid;float:left;}
#tl-body-container{height:180px;width:492px;border: 1px solid yellow;float:left;}
.tl-body-content{display:none}
#tl-middle-line{left:300px;border-left:1px solid red;height:100px;width:1px;position:absolute;top:180px;float:left;}
